---
layout: default
---

<div class="page-content">
  <div class="wrapper">
    <div class="home">
      <h1>Recent Posts</h1>
      
      <div class="post-list">
        
        {% comment %} 1. 모든 글(Posts + Collections) 수집 {% endcomment %}
        {% assign all_posts = "" | split: "" %}
        {% assign all_posts = all_posts | concat: site.posts %}
        
        {% assign collections = "weeklyreview,projects,study,algorithm,etc" | split: "," %}
        {% for collection in collections %}
          {% if site[collection] %}
            {% assign all_posts = all_posts | concat: site[collection] %}
          {% endif %}
        {% endfor %}
        
        {% comment %} 2. 날짜순 정렬(sort) 후 뒤집기(reverse) -> 최신순 {% endcomment %}
        {% assign sorted_posts = all_posts | sort: 'date' | reverse %}
        
        {% comment %} 3. 화면 출력 {% endcomment %}
        {% for post in sorted_posts %}
          {% include archive-single.html type="list" %}
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>