---
layout: default
---

<div class="page-content">
  <div class="wrapper">
    <div class="home">
      <h1>Recent Posts</h1>
      <div class="post-list">
        
        {% comment %}{% endcomment %}
        {% assign all_posts = site.weeklyreview | concat: site.projects | concat: site.study | concat: site.algorithm %}
        
        {% comment %}{% endcomment %}
        {% assign sorted_posts = all_posts | sort: 'date' | reverse %}
        
        {% for post in sorted_posts %}
          {% include archive-single.html %}
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>